@media (max-width: 450px) {
    section {
        background-image: url(/src/images/bg-mobile.svg);
        background-color: hsl(257, 40%, 49%);
        background-repeat: no-repeat;
        background-size: contain;
        color: white;
        height: 100vh;
        width: 100%;
    }

    main {
        top: 60px;
        margin-top: 20px;
        max-width: 100%;
        max-height: auto;
        position: relative;
        padding: 0 10px;
    } 
 
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
    } 

    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scale(0.8);
        margin-bottom: 20px;
        padding: 10px 5px 5px 10px;
    }

    .container {
        margin: 0;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        align-content: center;
    }

    .h1 {
        font-size: 40px;
        line-height: 50px;
        width: 100%;
        margin: 0 auto 20px;
    }

    .info {
        font-size: 20px;
        line-height: 30px;
        margin: 0 auto 20px;
    }

    .btn-button a {
        font-size: 20px;
        padding: 10px 50px;
    }
 
    .social {
        display: flex;
        justify-content: center;
        position: relative;
        left: 0;
        margin-top: 20px;
    }

    .fab {
        font-size: 20px;
        width: 40px;
    }
}